
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    display: flex;
}

.custom-max-height{
    max-height: 70vh;
}
.custom-scrollbar::-webkit-scrollbar {
    display: none; 
  }
.custom-bg-size{
    background-size: 800px 50px;
}
.custom-animation-loader{
    animation: loader 3s infinite linear;
}
@layer utilities {
    @keyframes loader {
      0% {
        background-position: -800px 0px;
      }
      100% {
        background-position: 800px 0px;
      }
    }
  }